
/*Estilos de los contenedor del index del navbar lateral 
* Estilos del navbar lateral */
.navbar_lateral {
    float: left;
    /* margin-top: none; */
    height: 580px;
    /* Que ocupe todo el ancho de la pantalla */
    width: 15%;
    /*Definir el ancho del navbar */
/*    position: fixed;
*/    /* Fija el navbar, que no se mueva con el scroll */
    z-index: 1;
    /* Se mantiene en la parte superior */
    left: 0;
    /* Se mantiene a la izquiera */
    background: transparent;
    /*  Fondo del navbar */
    overflow-x: hidden;
    /* Deshabilitar el scroll lateral */
    padding-top: 20px;
    /* border-right: 1px solid #000; */
}

    /* Links de la barra de navegacion lateral */
    .navbar_lateral a {
        text-decoration: none;
        font-size: 18px;
        color: #000;
        display: block;
        padding-bottom: 10px;
        border: 1px #000;
    }

    /* Estilos de los contenedores del navbar lateral */
    .navbar_lateral div {
        text-align: center;
        margin-bottom: 15px;
    }

    .navbar_lateral img {
        width: 80%;
        height: 175px;
        margin-left: 10%;
        margin-top: 20px;
        background: transparent;
        border-radius: 5%;
    }

#navbar_lateral_inicio:hover {
    border-bottom: 3px solid lightgreen;
}

/*Estilos de los contenedor del index del navbar lateral */
#navbar_lateral_inicio {
    margin-top: 15px;
    width: 30%;
    margin-left: 31%;
    border: #000;
}


#navbar_lateral_regresar {
    margin-top: 20px;
    width: 30%;
    margin-left: 31%;
}
