
.main {
    margin-left: 3%;
    /* margin-right: 5%; */
    /* float: right; */
    height: 100%;
    background: transparent;
    border: 2px solid;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000;
    border-radius: 10px;
    padding: 30px 40px;
}

    .main h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        padding-top: 25px;
        font-weight: bold;
    }

    .main h2 {
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
    }

    .main .separador {
        height: 4px;
        width: 60%;
        margin: 0 auto;
        background: lightgreen;
        margin-top: 10px;
        border-radius: 3px;
    }


.contenedor_filtraciones {
    padding-top: 40px;
    width: 85%;
    margin-left: 3%;
    display: flow-root;
}

.contenedor_buscar {
    width: 50%;
    margin-left: 30%;
    float: left;
}

    .contenedor_buscar label {
        display: inline-block;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        width: 20%;
    }

    .contenedor_buscar input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #000;
        padding: 20px 45px 20px 20px;
        text-align: center;
    }

    .contenedor_buscar select {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #000;
        padding: 20px 45px 20px 20px;
    }

        .contenedor_buscar select option {
            width: 100%;
            height: 100%;
            background: rgb(99, 95, 95);
            border: none;
            outline: none;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 40px;
            font-size: 16px;
            color: #000;
            padding: 20px 45px 20px 20px;
            text-align: center;
        }

.contenedor_filtraciones input:focus {
    border: 5px solid lightgreen;
    outline: none;
}

.contenedor_buscar .btn_buscar {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 25px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 25px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

    button:hover {
        background-color: lightgreen;
        color: #000;
    }


table {
    background: transparent;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

    table tr th {
        padding: 15px;
        border: 2px solid #000;
        border-top: 2px solid #000;
        width: 4%;
        right: 90px;
        background: lightblue;
    }

    table tr td {
        padding: 15px;
        border: 2px solid #000;
        border-top: 2px solid #000;
        width: 4%;
        right: 150px;
        background: transparent;
    }

    table tbody {
        padding: 15px;
        border: 2px solid #000;
        border-top: 2px solid #000;
        width: 4%;
        right: 150px;
        background: transparent;
        /* background: #F2F2F2; */
    }
