
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
}


#header {
    margin: auto;
    //width: 900px;
    // font-family: 'Courier New', Courier, monospace;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

    .nav li a:hover {
        background-color: transparent;
    }

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}
    /* para activar la opcion del sub menu dentro del menu */
    .nav li ul li ul {
        right: -140px;
        top: 0px;
    }


.navbar_lateral {
    height: 100%;
    width: 30%;
    margin-right: 15px;
    /* margin-top: none; */
    /* Que ocupe todo el ancho de la pantalla */
    /*Definir el ancho del navbar */
    position: absolute;
    /* Fija el navbar, que no se mueva con el scroll */
    z-index: 1;
    /* Se mantiene en la parte superior */
    left: 0;
    /* Se mantiene a la izquiera */
    background: transparent;
    /*  Fondo del navbar */
    overflow-x: hidden;
    /* Deshabilitar el scroll lateral */
    padding-top: 20px;
    /* border-right: 1px solid #000; */
}

    /* Links de la barra de navegacion lateral */
    .navbar_lateral a {
        text-decoration: none;
        font-size: 18px;
        color: #000;
        display: block;
        padding-bottom: 10px;
        border: 1px #000;
    }

    /* Estilos de los contenedores del navbar lateral */
    .navbar_lateral div {
        text-align: center;
        margin-bottom: 15px;
    }

    .navbar_lateral img {
        width: 80%;
        height: 150px;
        margin-left: 10%;
        margin-top: 20px;
        background: transparent;
        border-radius: 5%;
    }

#navbar_lateral_inicio:hover {
    border-bottom: 3px solid lightgreen;
}

/*Estilos de los contenedor del index del navbar lateral */
#navbar_lateral_inicio {
    margin-top: 15px;
    width: 30%;
    margin-left: 31%;
    border: #000;
}


#navbar_lateral_regresar {
    margin-top: 20px;
    width: 30%;
    margin-left: 31%;
}
